body {
<<<<<<< HEAD
  background-color: #1e1f24;
  font-family: Arial;
  color: #333;
  text-align: center;
  font-size: 16px;
  margin: 0;
  padding: 0;
=======
    font-family: Arial;
    color: #333;
    text-align: center;
    font-size:16px;
    margin: 0;
    padding: 0;
>>>>>>> footer
}
#cabecera {
  background: #36488b;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.75);
  color: white;
  margin: 0;
  padding: 0.5em 0 0.5em 0.9em;
  font-weight: bold;
}

#cabecera #logo {
  width: 20px;
  vertical-align: middle;
}

#cabecera #tagline {
  padding: 0 0 0 1em;
  font-weight: normal;
  font-size: 0.8em;
}

#container {
  width: 70%;
  padding: 0;
  text-align: left;
  border: 1px solid #ddd;
  margin: 0 auto;
}

#container h1 {
  font-size: 20px;
}

<<<<<<< HEAD
#post {
  padding: 1em;
  background: white;
}
=======
#cabecera #tagline{
    font-weight: normal;
    font-size: 0.8em;
    padding: 0 0 0 1em;
}

#footer{
    background: #777;
    color: white;
    text-align: center;
    padding: 0.5rem;
}
>>>>>>> footer
